<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net472" />
  <package id="Sitecore.Kernel" version="9.3.0" targetFramework="net472" />
  <package id="Sitecore.Mvc" version="9.3.0" targetFramework="net472" />
</packages>