<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <pipelines>
      <mvc.getRenderer>
        <processor type="SitecoreEmmetExtensions.Pipelines.GetEmmetRenderer, SitecoreEmmetExtensions"
                   patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc']"></processor>
      </mvc.getRenderer>
    </pipelines>
  </sitecore>
</configuration>